<!DOCTYPE html>
<html lang="en">
<head>
    <title>Daily_Off Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Persian DateTime</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
    <script src="../static/jquery.md.bootstrap.datetimepicker.js"></script>
    <link rel="stylesheet" href="../static/styles/jquery.md.bootstrap.datetimepicker.style.css">

<!--    <link href="/dist/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet"/>-->
<!--    <script src="/dist/jquery.md.bootstrap.datetimepicker.js"></script>-->
</head>
<body>

<div class="jumbotron text-center">
    <h1>Daily-Off Panel</h1>
    <p>Welcome!</p>
</div>

<div class="container">
    <div class="row">
        <!--    <div class="col-sm-4">-->
        <!--      <h3>Column 1</h3>-->
        <!--      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>-->
        <!--      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>-->
        <!--    </div>-->
        <!--    <div class="col-sm-4">-->
        <!--      <h3>Column 2</h3>-->
        <!--      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>-->
        <!--      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>-->
        <!--    </div>-->
        <!--    <div class="col-sm-4">-->
        <!--      <h3>Column 3</h3>        -->
        <!--      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>-->
        <!--      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>-->
        <!--    </div>-->
        <!--      -->


        <form class="form-inline" method="POST" action="/daily-off-panel">
            <div class="form-group">
                <!--    <div class="input-group">-->
                <!--        <span class="input-group-addon">Please select</span>-->
                <!--            <select name="comp_select" class="selectpicker form-control">-->
                <!--              {% for o in data %}-->
                <!--              <option value="{{ o.name }}">{{ o.name }}</option>-->
                <!--              {% endfor %}-->
                <!--            </select>-->

<!--                <div class="mb-3">-->
<!--                    <label for="Product_Id" class="form-label">Product_Id</label>-->
<!--                    <input type="text" class="form-control" name="Product_Id" id="Product_Id" placeholder="">-->
<!--                </div>-->
                <div class="mb-3">
  <label for="Product_Id" class="form-label">Product_Id</label>
  <textarea class="form-control" name="Product_Id" id="Product_Id" rows="3"></textarea>
</div>

<!--                <div class="mb-3">-->
<!--                    <label for="Daily-Off_Category" class="form-label">Daily-Off Category</label>-->
<!--                    <input type="text" class="form-control" name="Daily-Off_Category" id="Daily-Off_Category"-->
<!--                           placeholder="">-->

<!--                </div>-->

                <div class="mb-3">
                    <label for="Daily-Off_Category" class="form-label">Daily-Off Category</label>
                                <div class="input-group" name="Daily-Off_Category">
                                    <div>
                                        <select name="Daily-Off_Category" class="form-control">
                                            <option disabled="disabled" selected="selected">Choose</option>
                                            <option value="0">Product</option>
                                            <option value="1">Clothing</option>
                                            <option value="2">Local</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>                                </div>
                            </div>

                <div class="mb-3">
                    <label for="Owner_Id" class="form-label">Owner_Id</label>
                    <input type="text" class="form-control" name="Owner_Id" id="Owner_Id" placeholder="">
                </div>

<!--                 <hr>-->
<!--    <h3>Range - fromDate, toDate</h3>-->
<!--    <div class="row">-->
<!--      <div class="col-sm-6">-->
<!--        <pre>-->
<!--$('#date4').MdPersianDateTimePicker({-->
<!--    targetTextSelector: '#inputDate4',-->
<!--    fromDate: true,-->
<!--    enableTimePicker: true,-->
<!--    groupId: 'rangeSelector1',-->
<!--    dateFormat: 'yyyy-MM-dd HH:mm:ss',-->
<!--    textFormat: 'yyyy-MM-dd HH:mm:ss',-->
<!--});-->
<!--                </pre>-->
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text cursor-pointer" id="date4">Icon</span>
          </div>
          <input type="text" id="inputDate4" class="form-control" name="Daily_off_DateTime" placeholder="From Date" aria-label="date4"
            aria-describedby="date4">
        </div>
<!--      </div>-->
<!--      <div class="col-sm-6">-->
<!--        <pre>-->

                <div class="col-auto">
                    <button type="Save" class="btn btn-primary mb-3">Save</button>
                </div>


<!--                <div class="input-group">-->
<!--                    <div class="input-group-prepend">-->
<!--                        <span class="input-group-text cursor-pointer" id="date1">Icon</span>-->
<!--                    </div>-->
<!--                    <input type="text" id="inputDate1" class="form-control" placeholder="Persian Calendar Text"-->
<!--                           aria-label="date1"-->
<!--                           aria-describedby="date1">-->
<!--                    <input type="text" id="inputDate1-1" class="form-control" placeholder="Persian Calendar Date"-->
<!--                           aria-label="date11" aria-describedby="date11">-->
<!--                </div>-->
            </div>

    </form>


    <!--      <form>-->
    <!--  <div class="form-group">-->
    <!--    <label for="exampleInputEmail1">Email address</label>-->
    <!--    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->
    <!--    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
    <!--  </div>-->
    <!--  <div class="form-group">-->
    <!--    <label for="exampleInputPassword1">Password</label>-->
    <!--    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
    <!--  </div>-->
    <!--  <div class="form-group form-check">-->
    <!--    <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
    <!--    <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
    <!--  </div>-->
    <!--  <button type="submit" class="btn btn-primary">Submit</button>-->
    <!--</form>-->

</div>
</div>

<!--<script>-->
<!--    $('#Daily-Off_Category').MdPersianDateTimePicker({-->
<!--        targetTextSelector: '#Daily-Off_Category',-->
<!--        targetDateSelector: '#Daily-Off_Category',-->
<!--    });-->

<!--    $('#date1').MdPersianDateTimePicker({-->
<!--    targetTextSelector: '#inputDate1',-->
<!--    targetDateSelector: '#inputDate1-1',-->
<!--    dateFormat: 'yyyy-MM-dd hh:mm:ss',-->
<!--    isGregorian: true,-->
<!--    enableTimePicker: true,-->
<!--    disableBeforeToday: true,-->
<!--    disabledDates: [new Date(),-->
<!--        new Date(2018, 9, 11),-->
<!--        new Date(2018, 9, 12),-->
<!--        new Date(2018, 9, 13),-->
<!--        new Date(2018, 9, 14)],-->
<!--    disabledDays: [5, 6]-->
<!--});-->

<!--</script>-->
<script type="text/javascript">
    $('#date4').MdPersianDateTimePicker({
      targetTextSelector: '#inputDate4',
      fromDate: true,
      enableTimePicker: true,
      groupId: 'rangeSelector1',
      dateFormat: 'yyyy-MM-dd HH:mm:ss',
      textFormat: 'yyyy-MM-dd HH:mm:ss',
    });
     </script>

  <br><br>

</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>پنل دیلی آف</title>-->
<!--     &lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->

<!--&lt;!&ndash; jQuery library &ndash;&gt;-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->

<!--&lt;!&ndash; Latest compiled JavaScript &ndash;&gt;-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->

<!--</head>-->
<!--<body>-->
<!--<form class="form-inline" method="POST" action="daily-off-pannel">-->
<!--  <div class="form-group">-->
<!--&lt;!&ndash;    <div class="input-group">&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="input-group-addon">Please select</span>&ndash;&gt;-->
<!--&lt;!&ndash;            <select name="comp_select" class="selectpicker form-control">&ndash;&gt;-->
<!--&lt;!&ndash;              {% for o in data %}&ndash;&gt;-->
<!--&lt;!&ndash;              <option value="{{ o.name }}">{{ o.name }}</option>&ndash;&gt;-->
<!--&lt;!&ndash;              {% endfor %}&ndash;&gt;-->
<!--&lt;!&ndash;            </select>&ndash;&gt;-->

<!--      <div class="mb-3">-->
<!--  <label for="Product_Id_L" class="form-label">Product_Id</label>-->
<!--  <input type="text" class="form-control" name="Product_Id" id="Product_Id" placeholder="">-->
<!--</div>-->
<!--<div class="mb-3">-->
<!--  <label for="Daily-Off_Category_L" class="form-label">Daily-Off Category</label>-->
<!--  <input type="text" class="form-control" name="Daily-Off_Category" id="Daily-Off_Category" placeholder="">-->

<!--        </div>-->

<!--      <div class="col-auto">-->
<!--    <button type="submit" class="btn btn-primary mb-3">submit</button>-->
<!--  </div>-->

<!--      </div>-->
<!--      </div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <title>Bootstrap Example</title>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->


<!--    <link href="/dist/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet"/>-->
<!--    <script src="/dist/jquery.md.bootstrap.datetimepicker.js"></script>-->
<!--</head>-->
<!--<body>-->

<!--<div class="jumbotron text-center">-->
<!--    <h1>My First Bootstrap Page</h1>-->
<!--    <p>Resize this responsive page to see the effect!</p>-->
<!--</div>-->

<!--<div class="container">-->
<!--    <div class="row">-->
<!--        &lt;!&ndash;    <div class="col-sm-4">&ndash;&gt;-->
<!--        &lt;!&ndash;      <h3>Column 1</h3>&ndash;&gt;-->
<!--        &lt;!&ndash;      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>&ndash;&gt;-->
<!--        &lt;!&ndash;      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>&ndash;&gt;-->
<!--        &lt;!&ndash;    </div>&ndash;&gt;-->
<!--        &lt;!&ndash;    <div class="col-sm-4">&ndash;&gt;-->
<!--        &lt;!&ndash;      <h3>Column 2</h3>&ndash;&gt;-->
<!--        &lt;!&ndash;      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>&ndash;&gt;-->
<!--        &lt;!&ndash;      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>&ndash;&gt;-->
<!--        &lt;!&ndash;    </div>&ndash;&gt;-->
<!--        &lt;!&ndash;    <div class="col-sm-4">&ndash;&gt;-->
<!--        &lt;!&ndash;      <h3>Column 3</h3>        &ndash;&gt;-->
<!--        &lt;!&ndash;      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>&ndash;&gt;-->
<!--        &lt;!&ndash;      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>&ndash;&gt;-->
<!--        &lt;!&ndash;    </div>&ndash;&gt;-->
<!--        &lt;!&ndash;      &ndash;&gt;-->


<!--        <form class="form-inline" method="POST" action="daily-off-pannel">-->
<!--            <div class="form-group">-->
<!--                &lt;!&ndash;    <div class="input-group">&ndash;&gt;-->
<!--                &lt;!&ndash;        <span class="input-group-addon">Please select</span>&ndash;&gt;-->
<!--                &lt;!&ndash;            <select name="comp_select" class="selectpicker form-control">&ndash;&gt;-->
<!--                &lt;!&ndash;              {% for o in data %}&ndash;&gt;-->
<!--                &lt;!&ndash;              <option value="{{ o.name }}">{{ o.name }}</option>&ndash;&gt;-->
<!--                &lt;!&ndash;              {% endfor %}&ndash;&gt;-->
<!--                &lt;!&ndash;            </select>&ndash;&gt;-->

<!--                <div class="mb-3">-->
<!--                    <label for="Product_Id_L" class="form-label">Product_Id</label>-->
<!--                    <input type="text" class="form-control" name="Product_Id" id="Product_Id" placeholder="">-->
<!--                </div>-->
<!--                <div class="mb-3">-->
<!--                    <label for="Daily-Off_Category_L" class="form-label">Daily-Off Category</label>-->
<!--                    <input type="text" class="form-control" name="Daily-Off_Category" id="Daily-Off_Category"-->
<!--                           placeholder="">-->

<!--                </div>-->

<!--                <div class="col-auto">-->
<!--                    <button type="submit" class="btn btn-primary mb-3">submit</button>-->
<!--                </div>-->


<!--                <div class="input-group">-->
<!--                    <div class="input-group-prepend">-->
<!--                        <span class="input-group-text cursor-pointer" id="date1">Icon</span>-->
<!--                    </div>-->
<!--                    <input type="text" id="inputDate1" class="form-control" placeholder="Persian Calendar Text"-->
<!--                           aria-label="date1"-->
<!--                           aria-describedby="date1">-->
<!--                    <input type="text" id="inputDate1-1" class="form-control" placeholder="Persian Calendar Date"-->
<!--                           aria-label="date11" aria-describedby="date11">-->
<!--                </div>-->
<!--            </div>-->


<!--    </form>-->


<!--    &lt;!&ndash;      <form>&ndash;&gt;-->
<!--    &lt;!&ndash;  <div class="form-group">&ndash;&gt;-->
<!--    &lt;!&ndash;    <label for="exampleInputEmail1">Email address</label>&ndash;&gt;-->
<!--    &lt;!&ndash;    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">&ndash;&gt;-->
<!--    &lt;!&ndash;    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>&ndash;&gt;-->
<!--    &lt;!&ndash;  </div>&ndash;&gt;-->
<!--    &lt;!&ndash;  <div class="form-group">&ndash;&gt;-->
<!--    &lt;!&ndash;    <label for="exampleInputPassword1">Password</label>&ndash;&gt;-->
<!--    &lt;!&ndash;    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">&ndash;&gt;-->
<!--    &lt;!&ndash;  </div>&ndash;&gt;-->
<!--    &lt;!&ndash;  <div class="form-group form-check">&ndash;&gt;-->
<!--    &lt;!&ndash;    <input type="checkbox" class="form-check-input" id="exampleCheck1">&ndash;&gt;-->
<!--    &lt;!&ndash;    <label class="form-check-label" for="exampleCheck1">Check me out</label>&ndash;&gt;-->
<!--    &lt;!&ndash;  </div>&ndash;&gt;-->
<!--    &lt;!&ndash;  <button type="submit" class="btn btn-primary">Submit</button>&ndash;&gt;-->
<!--    &lt;!&ndash;</form>&ndash;&gt;-->

<!--</div>-->
<!--</div>-->

<!--<script>-->
<!--    $('#Daily-Off_Category').MdPersianDateTimePicker({-->
<!--        targetTextSelector: '#Daily-Off_Category',-->
<!--        targetDateSelector: '#Daily-Off_Category',-->
<!--    });-->

<!--    $('#date1').MdPersianDateTimePicker({-->
<!--    targetTextSelector: '#inputDate1',-->
<!--    targetDateSelector: '#inputDate1-1',-->
<!--    dateFormat: 'yyyy-MM-dd hh:mm:ss',-->
<!--    isGregorian: true,-->
<!--    enableTimePicker: true,-->
<!--    disableBeforeToday: true,-->
<!--    disabledDates: [new Date(),-->
<!--        new Date(2018, 9, 11),-->
<!--        new Date(2018, 9, 12),-->
<!--        new Date(2018, 9, 13),-->
<!--        new Date(2018, 9, 14)],-->
<!--    disabledDays: [5, 6]-->
<!--});-->

<!--</script>-->

<!--</body>-->
<!--</html>-->





<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->
<!--  <meta charset="utf-8" />-->
<!--  <title>Persian DateTime</title>-->

<!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"-->
<!--    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">-->
<!--  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"-->
<!--    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"-->
<!--    crossorigin="anonymous"></script>-->
<!--  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"-->
<!--    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"-->
<!--    crossorigin="anonymous"></script>-->
<!--  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"-->
<!--    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"-->
<!--    crossorigin="anonymous"></script>-->
<!--    <script src="../static/jquery.md.bootstrap.datetimepicker.js"></script>-->
<!--    <link rel="stylesheet" href="../static/styles/jquery.md.bootstrap.datetimepicker.style.css">-->


<!--</head>-->

<!--<body>-->
<!--  <div class="container">-->
<!--    <h2>Simple</h2>-->
<!--    <div class="row">-->
<!--      <div class="col-sm-6">-->
<!--        <pre>-->
<!--$('#date1').MdPersianDateTimePicker({-->
<!--    targetTextSelector: '#inputDate1',-->
<!--    targetDateSelector: '#inputDate1-1',-->
<!--    dateFormat: 'yyyy-MM-dd hh:mm:ss',-->
<!--    isGregorian: true,-->
<!--    enableTimePicker: true,-->
<!--    disableBeforeToday: true,-->
<!--    disabledDates: [new Date(),-->
<!--        new Date(2018, 9, 11),-->
<!--        new Date(2018, 9, 12),-->
<!--        new Date(2018, 9, 13),-->
<!--        new Date(2018, 9, 14)],-->
<!--    disabledDays: [5, 6]-->
<!--});-->
<!--                </pre>-->
<!--        <div class="input-group">-->
<!--          <div class="input-group-prepend">-->
<!--            <span class="input-group-text cursor-pointer" id="date1">Icon</span>-->
<!--          </div>-->
<!--          <input type="text" id="inputDate1" class="form-control" placeholder="Persian Calendar Text" aria-label="date1"-->
<!--            aria-describedby="date1">-->
<!--          <input type="text" id="inputDate1-1" class="form-control" placeholder="Persian Calendar Date"-->
<!--            aria-label="date11" aria-describedby="date11">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-sm-6">-->
<!--        <pre>-->
<!--$('#date2').MdPersianDateTimePicker({-->
<!--    targetTextSelector: '#inputDate2',-->
<!--    selectedDate: new Date('2018/9/30 12:20:32'),-->
<!--    isGregorian: true,-->
<!--    dateFormat: 'yyyy-MM-dd hh:mm:ss',-->
<!--    calendarViewOnChange: function (date) {-->
<!--        console.log(date);-->
<!--    }-->
<!--});-->
<!--                </pre>-->
<!--        <div class="input-group">-->
<!--          <div class="input-group-prepend">-->
<!--            <span class="input-group-text cursor-pointer" id="date2">Icon</span>-->
<!--          </div>-->
<!--          <input type="text" id="inputDate2" class="form-control" placeholder="Gregorian Calendar" aria-label="date2"-->
<!--            aria-describedby="date2">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <hr>-->
<!--    <div class="row">-->
<!--      <div class="col-sm-6">-->
<!--        <h3>Multiple Months</h3>-->
<!--        <pre>-->
<!--$('#date3').MdPersianDateTimePicker({-->
<!--    targetTextSelector: '#inputDate3',-->
<!--    monthsToShow: [1, 1]-->
<!--});-->
<!--                </pre>-->
<!--        <div class="input-group">-->
<!--          <div class="input-group-prepend">-->
<!--            <span class="input-group-text cursor-pointer" id="date3">Icon</span>-->
<!--          </div>-->
<!--          <input type="text" id="inputDate3" class="form-control" placeholder="DateTimePicker With Multiple Month"-->
<!--            aria-label="date3" aria-describedby="date3" value="1397/02/01">-->
<!--          <input type="hidden" id="inputDate3-11">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-sm-6">-->
<!--        <h3>Range Selector</h3>-->
<!--        <pre>-->
<!--$('#date3-1').MdPersianDateTimePicker({-->
<!--    targetTextSelector: '#inputDate3-1',-->
<!--    monthsToShow: [1, 1],-->
<!--    rangeSelector: true-->
<!--});-->
<!--                </pre>-->
<!--        <div class="input-group">-->
<!--          <div class="input-group-prepend">-->
<!--            <span class="input-group-text cursor-pointer" id="date3-1">Icon</span>-->
<!--          </div>-->
<!--          <input type="text" id="inputDate3-1" class="form-control"-->
<!--            placeholder="DateTimePicker Range Selector With Multiple Months" aria-label="date3-1"-->
<!--            aria-describedby="date3-1">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <hr>-->
<!--    <h3>Modal Mode</h3>-->
<!--    <pre>-->
<!--$('#date8').MdPersianDateTimePicker({-->
<!--  targetTextSelector: '#inputDate10',-->
<!--  targetDateSelector: '#inputDate11',-->
<!--  enableTimePicker: true,-->
<!--  modalMode: true-->
<!--});-->
<!--</pre>-->
<!--    <div class="input-group">-->
<!--      <div class="input-group-prepend">-->
<!--        <span class="input-group-text cursor-pointer" id="date8">Icon</span>-->
<!--      </div>-->
<!--      <input type="text" id="inputDate10" class="form-control" placeholder="" aria-label="date8"-->
<!--        aria-describedby="date8">-->
<!--      <input type="text" id="inputDate11" class="form-control" placeholder="" aria-label="date8"-->
<!--        aria-describedby="date8">-->
<!--    </div>-->
<!--    <hr>-->
<!--    <h3>Range - fromDate, toDate</h3>-->
<!--    <div class="row">-->
<!--      <div class="col-sm-6">-->
<!--        <pre>-->
<!--$('#date4').MdPersianDateTimePicker({-->
<!--    targetTextSelector: '#inputDate4',-->
<!--    fromDate: true,-->
<!--    enableTimePicker: true,-->
<!--    groupId: 'rangeSelector1',-->
<!--    dateFormat: 'yyyy-MM-dd HH:mm:ss',-->
<!--    textFormat: 'yyyy-MM-dd HH:mm:ss',-->
<!--});-->
<!--                </pre>-->
<!--        <div class="input-group">-->
<!--          <div class="input-group-prepend">-->
<!--            <span class="input-group-text cursor-pointer" id="date4">Icon</span>-->
<!--          </div>-->
<!--          <input type="text" id="inputDate4" class="form-control" placeholder="From Date" aria-label="date4"-->
<!--            aria-describedby="date4">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-sm-6">-->
<!--        <pre>-->
<!--$('#date5').MdPersianDateTimePicker({-->
<!--    targetTextSelector: '#inputDate5',-->
<!--    toDate: true,-->
<!--    groupId: 'rangeSelector1',-->
<!--    placement: 'top',-->
<!--    enableTimePicker: true,-->
<!--    dateFormat: 'yyyy-MM-dd HH:mm:ss',-->
<!--    textFormat: 'yyyy-MM-dd HH:mm:ss',-->
<!--});-->
<!--                </pre>-->
<!--        <div class="input-group">-->
<!--          <div class="input-group-prepend">-->
<!--            <span class="input-group-text cursor-pointer" id="date5">Icon</span>-->
<!--          </div>-->
<!--          <input type="text" id="inputDate5" class="form-control" placeholder="To Date" aria-label="date5"-->
<!--            aria-describedby="date5">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <hr>-->
<!--    <h3>InLine</h3>-->
<!--    <div class="row">-->
<!--      <div class="col-sm-6">-->
<!--        <pre>-->
<!--$('#date6').MdPersianDateTimePicker({-->
<!--    targetTextSelector: '#inputDate6',-->
<!--    targetDateSelector: '#inputDate7',-->
<!--    inLine: true,-->
<!--    enableTimePicker: true,-->
<!--    fromDate: true,-->
<!--    groupId: 'date6-7-range'-->
<!--});-->
<!--                </pre>-->
<!--        <div id="date6"></div>-->
<!--        <input type="text" id="inputDate6" class="form-control" placeholder="In Line Date" aria-label="In Line Date"-->
<!--          aria-describedby="date6">-->
<!--        <input type="text" id="inputDate7" class="form-control" placeholder="In Line Date" aria-label="In Line Date"-->
<!--          aria-describedby="date6">-->
<!--      </div>-->
<!--      <div class="col-sm-6">-->
<!--        <pre>-->
<!--$('#date7').MdPersianDateTimePicker({-->
<!--    targetTextSelector: '#inputDate8',-->
<!--    targetDateSelector: '#inputDate9',-->
<!--    inLine: true,-->
<!--    enableTimePicker: true,-->
<!--    toDate: true,-->
<!--    groupId: 'date6-7-range'-->
<!--});-->
<!--                </pre>-->
<!--        <div id="date7"></div>-->
<!--        <input type="text" id="inputDate8" class="form-control" placeholder="In Line Date" aria-label="In Line Date"-->
<!--          aria-describedby="In Line Date">-->
<!--        <input type="text" id="inputDate9" class="form-control" placeholder="In Line Date" aria-label="In Line Date"-->
<!--          aria-describedby="In Line Date">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


<!--  <script type="text/javascript">-->
<!--    $('#date1').MdPersianDateTimePicker({-->
<!--      targetTextSelector: '#inputDate1',-->
<!--      targetDateSelector: '#inputDate1-1',-->
<!--      dateFormat: 'yyyy-MM-dd hh:mm:ss',-->
<!--      isGregorian: true,-->
<!--      englishNumber: true,-->
<!--      enableTimePicker: true,-->
<!--      disableBeforeToday: true,-->
<!--      disabledDates: [new Date(), new Date(2018, 9, 11), new Date(2018, 9, 12), new Date(2018, 9, 13),-->
<!--      new Date(2018, 9, 14)-->
<!--      ],-->
<!--      disabledDays: [5, 6]-->
<!--    });-->

<!--    $('#fromDateSegment').MdPersianDateTimePicker({-->
<!--      disableAfterDate: new Date(),-->
<!--      targetTextSelector: '#inputFromDate',-->
<!--      targetDateSelector: '#fromdate',-->
<!--      isGregorian: false,-->
<!--      enableTimePicker: false,-->
<!--      englishNumber: false-->
<!--    });-->

<!--    $('#date2').MdPersianDateTimePicker({-->
<!--      targetTextSelector: '#inputDate2',-->
<!--      selectedDate: new Date('2018/9/30 12:20:32'),-->
<!--      isGregorian: true,-->
<!--      dateFormat: 'yyyy-MM-dd hh:mm:ss',-->
<!--      enableTimePicker: true,-->
<!--      calendarViewOnChange: function (date) {-->
<!--        console.log(date);-->
<!--      }-->
<!--    });-->

<!--    $('#date3').MdPersianDateTimePicker({-->
<!--      targetTextSelector: '#inputDate3',-->
<!--      targetDateSelector: '#inputDate3-11',-->
<!--      monthsToShow: [1, 1],-->
<!--    });-->
<!--    $('#date3-1').MdPersianDateTimePicker({-->
<!--      targetTextSelector: '#inputDate3-1',-->
<!--      monthsToShow: [1, 1],-->
<!--      rangeSelector: true-->
<!--    });-->

<!--    $('#date4').MdPersianDateTimePicker({-->
<!--      targetTextSelector: '#inputDate4',-->
<!--      fromDate: true,-->
<!--      enableTimePicker: true,-->
<!--      groupId: 'rangeSelector1',-->
<!--      dateFormat: 'yyyy-MM-dd HH:mm:ss',-->
<!--      textFormat: 'yyyy-MM-dd HH:mm:ss',-->
<!--    });-->
<!--    $('#date5').MdPersianDateTimePicker({-->
<!--      targetTextSelector: '#inputDate5',-->
<!--      toDate: true,-->
<!--      groupId: 'rangeSelector1',-->
<!--      placement: 'top',-->
<!--      enableTimePicker: true,-->
<!--      dateFormat: 'yyyy-MM-dd HH:mm:ss',-->
<!--      textFormat: 'yyyy-MM-dd HH:mm:ss',-->
<!--    });-->

<!--    $('#date7').MdPersianDateTimePicker({-->
<!--      targetTextSelector: '#inputDate8',-->
<!--      targetDateSelector: '#inputDate9',-->
<!--      inLine: true,-->
<!--      enableTimePicker: true,-->
<!--      toDate: true,-->
<!--      groupId: 'date6-7-range'-->
<!--    });-->

<!--    $('#date6').MdPersianDateTimePicker({-->
<!--      targetTextSelector: '#inputDate6',-->
<!--      targetDateSelector: '#inputDate7',-->
<!--      inLine: true,-->
<!--      enableTimePicker: true,-->
<!--      fromDate: true,-->
<!--      groupId: 'date6-7-range'-->
<!--    });-->

<!--    $('#date8').MdPersianDateTimePicker({-->
<!--      targetTextSelector: '#inputDate10',-->
<!--      targetDateSelector: '#inputDate11',-->
<!--      enableTimePicker: true,-->
<!--      modalMode: true-->
<!--    });-->

<!--  </script>-->

<!--  <br><br>-->
<!--</body>-->

<!--</html>-->